<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<app-nav-top></app-nav-top>
<div class="contenedor">
    <div class="con">
        <div class="imagen">
            <img src="..\assets\nosotros.jpg" class="img">
        </div>
        <div class="texto">
            <h3>QUIÉNES SOMOS</h3>
            <p>
                Los inicios de Muy Vos se remontan al año 2015 cuando se materializa un sueño de conformar un emprendimiento familiar en un pequeño local de bijouterie ubicado en Villa Cañás.
            </p>
            <p>
                Nos dedicamos a la venta de accesorios y bijou con el objetivo de brindarles a nuestros clientes la mejor calidad, variedad y tendencia.
            </p>
            <p>
                Contamos con una gran variedad de productos tales como aros, collares, pulseras, anillos, accesorios para el cabello, carteras, cintos, billeteras, chalinas, bufandas, gorros, guantes, maquillaje, artículos para uñas, acero, entre otros.
            </p>
        </div>
    </div>
</div>
<app-nav-bottom></app-nav-bottom>

