<mat-divider></mat-divider>
  <a name ="informacion"></a>   
  <h3>SEGUINOS EN</h3>
  <section class="contenedor">
      <div class="navegacion">
          <a target="_blank" href="https://www.instagram.com/muyvosaccesorios/">
              <img src="https://image.flaticon.com/icons/png/512/25/25425.png" alt="Instagram">
              <p>muyvosaccesorios</p>
          </a>
      </div>
      <div class="navegacion">
          <a target="_blank" href="https://www.facebook.com/muyvosaccesorios/">
              <img src="https://image.flaticon.com/icons/png/512/21/21155.png" alt="Facebook">
              <p>Muy Vos Accesorios</p>
          </a>
      </div>
  </section>

  <mat-divider></mat-divider>
  <a name="informacion"></a>
  <h3>INFORMACIÓN</h3>
  <section class="contenedor">
      <div class="datos">
          <a target="_blank" href="https://www.google.com.ar/maps/place/Muy+Vos/@-34.0042665,-61.6053409,17z/data=!4m5!3m4!1s0x95c7ef4c7887cbef:0xad32f4d27b8261f3!8m2!3d-34.003942!4d-61.603624?utm_medium=s2email&shorturl=1">
            <img src="https://image.flaticon.com/icons/png/512/106/106165.png" alt="Ubicación">
            <p>Av. 50 N°25 - Villa Cañás</p>
          </a>
      </div>
      <div class="datos">
          <img src="https://image.flaticon.com/icons/png/512/126/126244.png" alt="Tarjeta de crédito">
          <p>Pagos con tarjeta de crédito y débito</p>
      </div>
      <div class="datos">
          <img src="https://image.flaticon.com/icons/png/512/67/67794.png" alt="Horario">
          <p>lun a sab de 9 a 12 y de 17 a 20</p>
      </div>
  </section>

  <mat-divider></mat-divider>
  <a name="contacto"></a>
  <h3>CONTACTO</h3>
  <section class="contenedor">
      <div class="datos">
        <a target="_blank" href="mailto:muyvosaccesorios@gmail.com">
            <img src="https://image.flaticon.com/icons/png/512/95/95645.png" alt="E-mail">
            <p>muyvosaccesorios@gmail.com</p>
        </a>
      </div>
      <div class="datos">
        <a target="_blank" href="https://wa.me/543462336569">
            <img src="https://cdn.icon-icons.com/icons2/1463/PNG/512/whatsapp-black_100119.png" alt="Whatsapp">
            <p>3462-336569</p>
        </a>
      </div>
  </section>

