<app-nav-top></app-nav-top>
<div class="acc">
        <img src="{{imag}}" class="im">
</div>
<section id="galeria">
        <div *ngFor="let acces of acc; let i=index" class="imagen">
                <img src="{{acces.imagen}}" (click)="open(i)"> 
                <div class="agregar"><p style="margin-bottom: 0px;">{{acces.codigo}} - {{acces.descripcion}}</p></div>
                <div class="precio"><p> ${{acces.precio}}</p></div>
                <!--<div class="agregar">AGREGAR AL CARRITO</div>-->
        </div>
</section>
<app-nav-bottom></app-nav-bottom>